<%= render "shared/alerts" %>

<%= render "candidate", candidate: @candidate %>

<div>
  <%= button_to "Destroy this candidate", hiring_position_candidate_path(@hiring_position, @candidate), method: :delete, class: "btn btn-danger" %> 
  <%= link_to "Back to candidates", hiring_position_candidates_path %>
</div>