<div>
  <h1>Editing hiring position</h1>

  <%= render "form", hiring_position: @hiring_position %>

  <br>
  <div>
    <%= link_to "Back to hiring positions", hiring_positions_path %>
  </div>
</div>
